In [4]:
%matplotlib inline
import matplotlib.pyplot as plt

plt.rcParams["font.family"] = 'nanummyeongjo'
plt.rcParams["figure.figsize"] = (14,4)
plt.rcParams['lines.linewidth'] = 2
plt.rcParams["axes.grid"] = True

In [5]:
%%html
<style>
    table { display: inline-block }
    .rendered_html td, .rendered_html th { text-align: left; }
</style>

<style>
    table { display: inline-block }
    .rendered_html td, .rendered_html th { text-align: left; }
</style>

In [1]:
import FinanceDataReader as fdr
fdr.__version__

'0.5.0'

In [2]:
import FinanceDataReader as fdr

# 한국거래소 상장종목 전체
df_krx = fdr.StockListing('KRX')
df_krx.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Symbol</th>
      <th>Name</th>
      <th>Sector</th>
      <th>Industry</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>001040</td>
      <td>CJ</td>
      <td>기타 금융업</td>
      <td>지주회사</td>
    </tr>
    <tr>
      <th>1</th>
      <td>012630</td>
      <td>HDC</td>
      <td>건물 건설업</td>
      <td>토목공사,건축공사,아파트분양사업,재개발/재건축사업</td>
    </tr>
    <tr>
      <th>2</th>
      <td>082740</td>
      <td>HSD엔진</td>
      <td>일반 목적용 기계 제조업</td>
      <td>대형선박용엔진,내연발전엔진</td>
    </tr>
    <tr>
      <th>3</th>
      <td>001390</td>
      <td>KG케미칼</td>
      <td>기초 화학물질 제조업</td>
      <td>콘크리트혼화제, 비료, 친환경농자재, 수처리제</td>
    </tr>
    <tr>
      <th>4</th>
      <td>011070</td>
      <td>LG이노텍</td>
      <td>전자부품 제조업</td>
      <td>기타 전자부품 제조업</td>
    </tr>
  </tbody>
</table>
</div>

In [3]:
len(df_krx)

2209

In [4]:
import FinanceDataReader as fdr

# 신라젠, 2018년
df = fdr.DataReader('215600', '2018')
df.head(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Close</th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Volume</th>
      <th>Change</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2018-01-01</th>
      <td>93500</td>
      <td>93500</td>
      <td>93500</td>
      <td>93500</td>
      <td>0.0</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <th>2018-01-02</th>
      <td>102500</td>
      <td>95900</td>
      <td>104000</td>
      <td>93300</td>
      <td>6760000.0</td>
      <td>0.0963</td>
    </tr>
    <tr>
      <th>2018-01-03</th>
      <td>103000</td>
      <td>102600</td>
      <td>104900</td>
      <td>99500</td>
      <td>4720000.0</td>
      <td>0.0049</td>
    </tr>
    <tr>
      <th>2018-01-04</th>
      <td>92200</td>
      <td>102600</td>
      <td>104000</td>
      <td>92200</td>
      <td>6390000.0</td>
      <td>-0.1049</td>
    </tr>
    <tr>
      <th>2018-01-05</th>
      <td>100000</td>
      <td>85800</td>
      <td>101200</td>
      <td>85700</td>
      <td>8250000.0</td>
      <td>0.0846</td>
    </tr>
    <tr>
      <th>2018-01-07</th>
      <td>100000</td>
      <td>100000</td>
      <td>100000</td>
      <td>100000</td>
      <td>0.0</td>
      <td>0.0000</td>
    </tr>
    <tr>
      <th>2018-01-08</th>
      <td>93800</td>
      <td>98000</td>
      <td>98400</td>
      <td>92500</td>
      <td>6280000.0</td>
      <td>-0.0620</td>
    </tr>
    <tr>
      <th>2018-01-09</th>
      <td>109000</td>
      <td>96500</td>
      <td>119200</td>
      <td>93800</td>
      <td>12290000.0</td>
      <td>0.1620</td>
    </tr>
    <tr>
      <th>2018-01-10</th>
      <td>98000</td>
      <td>105000</td>
      <td>107300</td>
      <td>97800</td>
      <td>6510000.0</td>
      <td>-0.1009</td>
    </tr>
    <tr>
      <th>2018-01-11</th>
      <td>96700</td>
      <td>97600</td>
      <td>100600</td>
      <td>95200</td>
      <td>4040000.0</td>
      <td>-0.0133</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
import FinanceDataReader as fdr

# 셀트리온, 2017년~현재
df = fdr.DataReader('068270', '2017')
df['Close'].plot()